html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #464646;
    color: white;
}
.parent{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: space-evenly;
    align-items: stretch;
}
.children{
    background-color: #a23c3c;
    width: 15%;
    text-align: center;
    border: none;
    transition: all 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.children:hover{
    cursor: pointer;
    flex-grow: 10;
    transform: translateY(-10%);
    border-width: 2px;
    box-shadow: 0 5px 20px 5px #000;
}
.children a{
    appearance: none;
    -webkit-appearance:none;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: 3% 6%;
    cursor: pointer;
    background: #ffea55;
    border: none;
    z-index: 0;
    overflow: hidden;
    color: #000
}.children a:hover::before{
    content: "";
    transform: rotate(20deg);
    height: 200%;
    width: 10%;
    background-color: #9c9c9c61;
    position: absolute;
    top: -40%;
    left: -200%;
    animation: ahoveranim 3s infinite linear;
    font-size: xxx-large;
    text-align: center;
}@keyframes ahoveranim {
    100%{
        left: 100%;
    }
}
.children a span{
    z-index: 3;
}